# Tencent Cloud EdgeOne
.edgeone/*
.tef_dist/*

# Environment
.env
.env.local
.env.*.local

# Dependencies
node_modules
package-lock.json

# Next.js
.next
next-env.d.ts

# TypeScript
tsconfig.tsbuildinfo
